h3 {
  font-family: 'Open Sans', sans-serif !important;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.header-modal {
  text-align: center;
}

@media (min-width: 768px) {
  .success-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .success-content {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.total {
  font-size: 18px;
  display: grid;
  position: absolute;
  bottom: 75px;
  right: 20px;
  width: 30%;
  align-items: end !important;
}

.coupon {
  font-size: 14px;
  color: #738eb4;
}

.content-vehicle {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-services {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.contact {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: masonry;
}

.overview,
.overview-services {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.overview,
.overview-contact {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.overview-contact {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 24px;
  grid-template-areas:
    'a a b b c c d d'
    'e e f f g i i i';
  grid-column-gap: 3rem;
}

.item-1 {
  grid-area: a;
}

.item-name {
  grid-area: b;
}

.item-2 {
  grid-area: c;
}

.item-email {
  grid-area: d;
  align-items: end;
  justify-items: end;
}

.item-3 {
  grid-area: e;
}

.item-phone {
  grid-area: f;
}

.item-4 {
  grid-area: g;
}

.item-comment {
  grid-area: i;
  text-align: stretch !important;
}

.amount {
  text-align: right;
  margin-top: 1rem;
  font-size: 16px;
}

.button-custom {
  position: absolute;

  top: 5px;
  right: 2px;
  font-size: 2rem;
  border: none !important;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.button-custom:hover {
  color: #db2829;
}

.custom-segment {
  width: 100% !important;
}

.close-icon {
  text-align: center;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.render-checkbox {
  margin-top: 50px;
  margin-bottom: 150px;
}

.service-checkbox {
  margin-bottom: 15px;
}

.icon-style {
  font-size: 2rem;
  color: #22b946;
}

.item:nth-child(2n + 2) {
  text-align: end;
}

.header-title {
  margin: 0px, 0px, 0x, 20px;
}
